<!DOCTYPE html>
<html>
  <head>
    <title>HalisiHospital</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= render "shared/css" %>
  </head>
  <% if ["public","devise"].include?(controller.controller_name) %>
  <header>
  <%= render "layouts/nav/public" %>
  </header>
  <% else %>
  <%= render "layouts/nav/dashboard" %>
  <% end %>
  <body>
    <%= yield %>
    <%= render "shared/js" %>
    <%= render "layouts/footer" %>
  </body>
</html>
